<div class="box">
  <form id="questions">
    <div class="date-container">
       <div class="flex-container">
      <h4 class="title is-3">{{format_date date_created "dddd, MMMM Do"}}</h4>
      <img src="../images/cute-cat-gif.gif" alt="Image description" class="date-image">
      <div class="id" data-day-id="{{id}}">
         </div>
      </div>
    </div>
    
  </form>
  </div>
</div>
</div>
</div>
</section>
<script src="./js/daily-checkin.js"></script>