
  <form id="questions">
    <div class="day">
      <h4>Day:{{date_created}}</h4>
      <div class="id" data-day-id="{{id}}">
      </div>
    </div>

    <button type="submit" class="button is-primary">Submit</button>
  </form>
</div>
</section>
<script src="./js/daily-checkin.js"></script>