<form id="questions">
  <div class="day">
    <h4>Day:{{date_created}}</h4>
    <div class="id" data-day-id="{{id}}">
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
<script src="./js/daily-checkin.js"></script>