<div class="box">
  <form id="questions">
    <div class="day">
      <h4 class="title is-4">Day: {{date_created}}</h4>
      <div class="id" data-day-id="{{id}}">
      </div>
    </div>
    
  </form>
  </div>
</div>
</div>
</div>
</section>
<script src="./js/daily-checkin.js"></script>