 {{!-- using bulma to create sections, and title defauls --}}
 
<section class="box">
  <div class="journal2  is-1 id="user-data" data-user-id="{{id}}>
    <h1 class="title">My Journal</h1>
    <img src="../images/dancing-cute.gif" alt="Image description" class="date-image1">
  </div>
  <div class="textin">
    <form id="log-form">
    {{!-- connecting to seeds to display on screen --}}
      {{#each logs as |log|}}
      <div class="journal-entry">
        <h2 class=" title t2">{{log.title}}</h2>
        <p class="subtitle ">{{log.date_created}}</p>
        <p class="entry">{{log.text}}</p>
      </div>
      {{/each}}
      <div class="box">
      <label class="title title2" for="title">Title:</label>
       
      <input class="input titlein is-primary is-large is-centered" type="text" id="title" name="title">
      <br><br>
      <label class="title title2" for="title">Text:</label>
      <textarea class="textarea is-primary is-large" id="text" name="text"></textarea>
  </div>
  
  <div class="button2">
    <input class="button is-primary is-medium" type="submit" value="Submit">
  </div>
  </div>
  </form>
</section>
<script src="./js/journal.js"></script>