<div class="meds">
<form id="medication-form">
  <label for="medication-name">Habit:</label>
  <input type="text" id="Medication-name" name="medication-name">
  <button type="button" id="add-habit-button">Add Medication</button>
</form>
</div>
<div id="medication-list">
  <!-- The list of habits will be added here -->
</div>

