<form id="habit-form">
  <label for="habit-name">Habits:</label>

  <div class="habits" id="user-data" data-user-id="{{id}}">
    <div id="habit-list">
      <!-- The list of habits will be added here -->
      {{#each wellbeing.wellbeing_input as |habit|}}
      <input type="checkbox"> {{habit}}</input>
      <br>
      {{/each}}
    </div>
    <input type="text" id="habit-name" name="habit-name" />
    <button type="button" id="add-habit-button">Add Habit</button>
</div>
</form>
<script src="./js/habit.js"></script>