@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


.bg-img { 
    background-image: url(./images/peakpx.jpg) ;
    width: 100vw;
    height: 100vh;
    background-image: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box
    {
    flex-grow: 1;
    position: center;
    width: 480px;
    height: 381px;
    align-self: center;
    margin-top: 23em;
    margin-left: 40em;
    border-radius: 12px;
    background-color: whitesmoke

}
