<section
  class="section is-background is-fullheight"
  style="background-image: url('./images/ribbon.jpeg'); background-size: cover;"
>
  <div class="columns is-mobile is-centered is-centered">
    <div class="column">
      <span class="title about">About</span><br />
      <span class="subtitle sub" id="text">Welcome to
        <strong>Mental Health Tracker</strong>, your personal mental health
        companion. Our mission is to provide a supportive and compassionate
        platform for anyone looking to improve their mental wellbeing.
        <br /><br />
        Our application features a range of tools designed to help you monitor
        and manage your mental health. With our daily check-ins, medication
        tracking, and physical wellbeing checklists, you can stay on top of your
        mental and physical health goals.
        <br /><br />
        Our user-friendly dashboard creates logs and calendars to help you track
        your progress and identify patterns in your mental health journey. Based
        on your responses, our application provides you with personalized
        resources and recommendations to help you better manage your mental
        health.
        <br />
        <br />
        We understand that seeking help for mental health can be challenging,
        which is why we've included a resources tab to help you find the support
        you need. Our application connects you with local mental health
        professionals, support groups, and online resources to help you get the
        care you deserve. At
        <strong>Mental Health Tracker</strong>, we believe that everyone
        deserves access to the resources they need to achieve their best mental
        health. Join our community today and start your journey towards better
        mental wellbeing.</span>
    </div>
    <div class="column">
      <img src="./images/growth.png" alt="" />
    </div>
  </div>
  <div class="columns is-mobile is-centered is-centered">
    <div class="column">
      <img src="./images/chaos.jpg" alt="" />
    </div>
    <div class="column">
      <span class="title">Purpose</span><br />
      <span class="subtitle">Mental health is a critical component of overall
        health and wellbeing. According to the World Health Organization, mental
        health is defined as a state of well-being in which an individual can
        realize their own potential, cope with the normal stresses of life, work
        productively, and contribute to their community. Unfortunately, mental
        health problems are all too common, with an estimated 1 in 4 people
        worldwide experiencing mental health issues at some point in their
        lives.
        <br /><br />
        The consequences of poor mental health can be devastating, affecting
        every aspect of a person's life from their relationships and work to
        their physical health and overall quality of life. However, the good
        news is that with the right support and tools, individuals can take
        steps to improve their mental health and wellbeing.
        <br /><br />
        Our mental health application aims to provide those tools and support,
        helping individuals to track their mental health, manage their
        medications, and stay on top of their wellbeing. By using our
        application, individuals can take proactive steps to promote better
        mental health and wellbeing, and work towards achieving their full
        potential in life.
        <br /><br />
        By prioritizing mental health and using tools like our mental health
        application, we can all work towards a healthier, happier future.</span>
    </div>
  </div>
</section>