<section
class="section is-background is-fullheight"
style="background-image: url('./images/ribbon.jpeg'); background-size: cover;">
<link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" type="text/css" rel="stylesheet">
<div class="columns is-mobile is-centered is-centered">
  <div class="column">
    <span class="title">About</span><br>
    <span class="subtitle" id="text">Welcome to [App Name], your personal mental health companion. Our mission is to provide a supportive and compassionate platform for anyone looking to improve their mental wellbeing.
<br><br>
Our application features a range of tools designed to help you monitor and manage your mental health. With our daily check-ins, medication tracking, and physical wellbeing checklists, you can stay on top of your mental and physical health goals.
<br><br>
Our user-friendly dashboard creates logs and calendars to help you track your progress and identify patterns in your mental health journey. Based on your responses, our application provides you with personalized resources and recommendations to help you better manage your mental health.
<br> <br>
We understand that seeking help for mental health can be challenging, which is why we've included a resources tab to help you find the support you need. Our application connects you with local mental health professionals, support groups, and online resources to help you get the care you deserve.

At [App Name], we believe that everyone deserves access to the resources they need to achieve their best mental health. Join our community today and start your journey towards better mental wellbeing.</span>
  </div>
  <div class="column">
    <img src="./images/growth.png" alt="">
  </div>
</div>
<div class="columns is-mobile is-centered is-centered">
<div class="column">
<img src="./images/chaos.jpg" alt="">
</div>
<div class="column">
    <span class="title">About</span><br>
    <span class="subtitle">A tool that helps users keep track of how they are doing through interactive questions and journaling. We want
      our users to be aware of their mental health so they can take action to live the best life possible.</span>
  </div>
</div>
</section>