<section class="content aboutpg is medium">
  <div>
    <h2>Our Purpose</h2>
    <p>A tool that helps users keep track of how they are doing through interactive questions and journalling. We want our users to be aware of their mental health so they can take action to live the best live possible. </p>
  </div>
  <figure class="image is-128x128">
    <img src="https://bulma.io/images/placeholders/128x128.png">
  </figure>
  <div>
    <h2>About Us</h2>
    <p>We are a team concerned about peoples well being. We want to help improve the overall mental health quality of our users. </p>
  </div>
  <figure class="image is-128x128">
    <img src="https://bulma.io/images/placeholders/128x128.png">
  </figure>
  <blockquote>
    We want to delete your sadness by adding happiness to your life.
  </blockquote>
</section>