<section class="content aboutpg is medium">
  <div class="purpose">
    <h2>Our Purpose</h2>
    <p>A tool that helps users keep track of how they are doing through interactive questions and journaling. We want
      our users to be aware of their mental health so they can take action to live the best life possible. </p>
    <figure class="image chaosimg" alt="image of being trapped">
      <img src="../public/images/chaos.jpg">
    </figure>
  </div>
  <div class="aboutinfo">
    <h2>About Us</h2>
    <p>We are a team concerned about people's well being. We want to help improve the overall mental health quality of
      our users. </p>
    <figure class="image growthimg">
      <img src="../public/images/growth.png" alt="image of growth">
    </figure>
  </div>
  <blockquote>
    We want to delete your sadness by adding happiness to your life.
  </blockquote>
</section>