
<section class="section is-background is-fullheight"
  style="background-image: url('../public/images/calm2.avif'); background-size: cover;">
  <div class="daily">
    <blockquote>
      <h1 class="title is-3">Quote of the day:</h1>
      <p class="subtitle is-3">Welcome to the place that will cure your saddness!</p>
    </blockquote>
  </div>
  <div class="columns is-mobile is-centered">
    <div class="column is-half welcome">
      <h2 class="title is-2 ">WELCOME</h2><br>
      <p class="subtitle is-2">Welcome to the place that will help you keep track of your mental health.</p>
    </div>
    <div class="column is-half ">
      <figure class="image img">
        <img src="../public/images/growth2.avif">
      </figure>
      <div class="login-box">
        <div class="control">
          <button class="button is-primary">Log in or sign up</button>
        </div>
      </div>

    </div>
  </div>
  </div>
  <blockquote class="moto">
    Let us take you from a chaotic mind to one of peace and growth.
  </blockquote>
  </div>
</section>
