<section
class="section is-background is-fullheight"
  style="background-image: url('/p2/assets/images/calm2.jpg'); background-size: cover;"
>
    <div class="column daily ">
      <blockquote >
        <h1 class="title is-3">Quote of the day:</h1>
         <p class= "subtitle is-3">Welcome to the place that will cure your saddness!</p>
      </blockquote>
    </div>
  <div class="columns is-mobile is-centered is-centered">
    <div class="column">
      <h2 class="title is-2 welcome">WELCOME</h2><br>
      <p class="subtitle is-2">Welcome to the place that will help you keep track of your mental health.</p>
    </div>
    <div class="column">
    <figure class="image img">
      <img src="/p2/assets/images/growth2.avif">
    </figure>
    <div class="login-box">
      <form>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="Enter your email" />
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Enter your password" />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary is-fullwidth">Submit</button>
          </div>
        </div>
    </div>
    </form>
  </div>
  </div>
  </div>
  <blockquote class="moto">
    Let us take you from a chotic mind to one of peace and growth.
  </blockquote>
  </div>
</section>