<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">About Suicide</p>
      <p>Suicide is the act of intentionally ending one's own life. It is a complex and tragic phenomenon with multiple causes, including mental illness, emotional distress, trauma, substance abuse, and social isolation. Suicide can have devastating effects on the individual, their loved ones, and the community at large. It is a serious public health concern, and prevention efforts often involve increasing access to mental health resources, reducing stigma around seeking help, and promoting social support and connectedness..</p>
         <br /><br />
      <a href="800-662-4357">Phone Number</a>
      <br /><br />
      <a href="988">Text Option</a>
      <br /><br />
      <a href="https://988lifeline.org/">Link to Suicide Hotline Website</a>
    </div>
    <div class="tile is-child box">
      <p class="title">About NEDA</p>
      <p>LNEDA stands for the National Eating Disorders Association. It is a non-profit organization in the United States that provides resources and support for individuals and families affected by eating disorders, such as anorexia, bulimia, and binge eating disorder. NEDA offers a variety of programs and services, including a helpline, online support groups, educational resources, advocacy efforts, and fundraising events. The organization's mission is to support individuals and families affected by eating disorders, and to promote prevention, treatment, and access to quality care for all those who are impacted by these serious and potentially life-threatening conditions.</p>
      <br /><br />
      <a href="800-931-2237">Phone Number</a>
      <br /><br />
      <a href="800-931-2237">Text Option</a>
      <br /><br />
      <a href="https://www.nationaleatingdisorders.org/help-support/contact-helpline">Link to NEDA Website</a>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">About SAMHSA</p>
      <p>
SAMHSA stands for the Substance Abuse and Mental Health Services Administration. It is a division of the U.S. Department of Health and Human Services that is responsible for improving the behavioral health of Americans by providing funding, research, and guidance to public and private organizations.
<br /><br />
SAMHSA works to reduce the impact of substance abuse and mental illness on individuals, families, and communities by promoting prevention, treatment, and recovery. Its mission is to reduce the impact of behavioral health problems in America's communities by leading public health efforts to advance the behavioral health of the nation.
<br /><br />
SAMHSA is organized into four main centers:
<br /><br />
Center for Mental Health Services (CMHS): This center focuses on improving access to effective treatments for mental health disorders. It provides grants to states and other organizations to develop and implement evidence-based practices for treating mental illness.
<br /><br />
Center for Substance Abuse Prevention (CSAP): This center works to prevent the onset of substance use disorders and promote healthy behaviors. It provides funding and technical assistance to community-based organizations to implement prevention programs.
<br /><br />
Center for Substance Abuse Treatment (CSAT): This center provides funding and technical assistance to states and other organizations to expand access to effective treatment for substance use disorders.
<br /><br />
Center for Behavioral Health Statistics and Quality (CBHSQ): This center collects data on the prevalence and impact of behavioral health problems in the United States. It conducts research and provides statistical information to inform policy and decision-making.
<br /><br />
SAMHSA also administers a 24/7 national helpline for individuals and families in need of support for mental health and substance use disorders</p>
<br /><br />
      <a href="800-662-4357">Phone Number</a>
      <br /><br />
      <a href="988">Text Option</a>
      <br /><br />
      <a href="https://www.samhsa.gov/find-help/national-helpline">Link to SAMHSA Website</a>

    </div>
  </div>
</div>