<section class="content resourcespg is medium">
   <div class="help">
      <h2>We Are Here To Help</h2>
   </div>
   <div class="samhsa">
      <h2>Substance and Mental Health Services Administration</h2>
   </div>
   <div class="samhhsa-aboutinfo">
      <h2>About SAMHSA</h2>
      <p>SAMHSA’s National Helpline is a free, confidential, 24/7, 365-day-a-year treatment referral and information
         service (in English and Spanish) for individuals and families facing mental and/or substance use disorders.</p>
      <a href="800-662-4357">Phone Number</a>
      <a href="988">Text Option</a>
      <a href="https://www.samhsa.gov/find-help/national-helpline">Link to SAMHSA Website</a>
   </div>
   <div class="suicide">
      <h2>Suicide and Crisis Lifeline</h2>
   </div>
   <div class="suicide-aboutinfo">
      <h2>About Suicide Hotline</h2>
      <p>We can all help prevent suicide. The Lifeline provides 24/7, free and confidential support for people in
         distress, prevention and crisis resources for you or your loved ones, and best practices for professionals in
         the United States.</p>
      <a href="800-662-4357">Phone Number</a>
      <a href="988">Text Option</a>
      <a href="https://988lifeline.org/">Link to Suicide Hotline Website</a>
   </div>
   <div class="neda">
      <h2>No Evidence of Disease Activity</h2>
   </div>
   <div class="neda-aboutinfo">
      <h2>About NEDA</h2>
      <p>The National Eating Disorders Association (NEDA) is the largest nonprofit organization dedicated to supporting
         individuals and families affected by eating disorders. NEDA supports individuals and families affected by
         eating disorders, and serves as a catalyst for prevention, cures and access to quality care.</p>
      <a href="800-931-2237">Phone Number</a>
      <a href="800-931-2237">Text Option</a>
      <a href="https://www.nationaleatingdisorders.org/help-support/contact-helpline">Link to NEDA Website</a>
   </div>
   <blockquote>
      ~~~ Help is just one click away. ~~~
   </blockquote>
</section>