<section class="hero-body">
 
    <div>
    <div class="container">
      <br>
      <p style="text-align:center;"><img src="../images/testcute.gif"></p>
      <h1 class="title">Join our Mental Health Community!</h1>
      <p class="subtitle">Create an account to access our resources and support</p>
    </div>
  
  
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="form-card">
          <p class="title is-2">Sign Up</p>
          <form class="signup-form">
            <div class="field">
              <label class="label" for="email-signup">Email</label>
              <div class="control">
                <div class="control has-icons-left">
                  <input class="input" type="email" id="email-signup" name="email-signup"
                    placeholder="Enter your email address">
                  <span class="icon is-small is-left">
                    <i class="fa-solid fa-user"></i>
                </div>
              </div>
              <div class="field">
                <label class="label" for="email-signup">Email</label>
                <div class="control">
                  <div class="control has-icons-left">
                    <input class="input" type="email" id="email-signup" name="email-signup"
                      placeholder="Enter your email address">
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="password-signup">Password</label>
                  <div class="control has-icons-left">
                    <input type="password" placeholder="*******" class="input" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>

                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button type="submit" class="button is-primary is-fullwidth login">Sign Up</button>
                  </div>
          </form>


          <!-- javascript file-->
          <script src="./js/signup.js"></script>
</section>