.aboutpg{
  font-size: x-large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.purpose{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aboutinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chaosimg, .growthimg{
  display: inline;
  height: 600px;
  width: 600px;
}

blockquote{
  display: flex;
  justify-content: center;
}

.questions{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 50px;
}