    html,
    body,
    main {
       height: 100%;
    }

    .section {
       min-height: 100vh;
    }

    .login-box {
       border: 1px solid #dbdbdb;
       border-radius: 6px;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       padding: 20px;
       max-width: 500px;
       margin: 0 auto;
       background-color: #f1f4f0;
       margin-top: 17rem
    }

    .navbar {
       background-color: rgb(206, 135, 192);



    }

    #text {
       font-weight: bold;
       font-family: 'Poppins', sans-serif;
    }

    /* .flex-container and .date-image are in checkin.handlebar */
    .flex-container {
      display: flex;
      align-items: center;
    }
    .date-image {
      width: 10%;
    }
    